# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/private

*/config/database.php
database.php
.idea/
.idea/*
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
