@mixin override-container {
  max-width     : inherit !important;
  padding-left  : 0 !important;
  padding-right : 0 !important;
  margin-top    : 0;
  margin-bottom : 0;
  border        : 0;
  text-shadow   : none;
  width         : 100%;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin element-transition($transition) {
  -webkit-transition : $transition;
  -moz-transition    : $transition;
  -ms-transition     : $transition;
  -o-transition      : $transition;
  transition         : $transition;
}

@mixin element-transform($transform) {
  -webkit-transform : $transform;
  -moz-transform    : $transform;
  -o-transform      : $transform;
  -ms-transform     : $transform;
  transform         : $transform;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow : $shadow;
  -moz-box-shadow    : $shadow;
  box-shadow         : $shadow;
}

@mixin text-shadow($arguments) {
  -webkit-text-shadow : $arguments;
  -moz-text-shadow    : $arguments;
  text-shadow         : $arguments;
}

@mixin colorLink($color) {
  color : $color;
  &:hover {
    color           : $color;
    text-decoration : none;
  }
}

@mixin colorHover($color, $percent) {
  background : $color;
  &:hover {
    background : darken($color, $percent);
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius : $radius;
  -moz-border-radius    : $radius;
  border-radius         : $radius;
}

@mixin linearGradient($top, $bottom) {
  background : $top; /* Old browsers */
  background : -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom)); /* Chrome,Safari4+ */
  background : -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10+,Safari5.1+ */
  background : -o-linear-gradient(top, $top 0%, $bottom 100%); /* Opera 11.10+ */
  background : -ms-linear-gradient(top, $top 0%, $bottom 100%); /* IE10+ */
  background : linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C */
  filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

// buttons
@mixin btn-style {
  background     : transparent;
  border         : 1px solid $color-tertiary-2-base;
  @include border-radius(6px);
  color          : $color-main-2 !important;
  box-sizing     : border-box;
  @include element-transition(all 0.3s ease);
  font-size      : $font-size-base;
  font-family    : $font-family-main-bold;
  text-transform : uppercase;
  padding        : 5px 10px;
  line-height    : normal;
  width          : auto;
  min-height     : 40px;
  display        : inline-block;
  text-shadow    : none;
  box-shadow     : none;
  &:hover,
  &:focus {
    background-color : $color-main-2;
    border-color     : $color-main-2;
    color            : $color-tertiary-1 !important;
    text-decoration  : none;
  }
  @include breakpoint('s-') {
    width      : 100%;
    margin     : 10px auto;
    text-align : center;
  }
}

@mixin btn-style-transparent {
  @include btn-style;
  border : 1px solid $color-tertiary-1;
  color  : $color-tertiary-1 !important;
}

@mixin three-row {
  overflow : hidden;
  margin   : 40px 0;
  .views-row {
    float         : left;
    width         : 32%;
    margin-right  : 2%;
    margin-bottom : 20px;
    text-align    : center;
    &:nth-child(3n) {
      margin-right : 0;
    }
    .views-field-name,
    .views-field-title {
      a {
        color          : $color-main-2;
        font-family    : $font-family-main-bold;
        text-transform : uppercase;
        margin-bottom  : 10px;
        display        : block;
      }
    }
    .views-field-picture,
    .views-field-field-image {
      img {
        margin        : 0 auto;
        border-radius : 50%;
        max-height    : 216px;
        width         : auto;
      }
      margin-bottom : 20px;
    }
    .views-field-field-image {
      img {
        border-radius : 0;
      }
    }
    .views-field-field-info,
    .views-field-body {
      text-overflow : ellipsis;
      overflow      : hidden;
      white-space   : nowrap;
      p {
        text-overflow : ellipsis;
        overflow      : hidden;
        white-space   : nowrap;
      }
      .views-label {
        display : none;
      }
    }
  }
  @include breakpoint('s-') {
    .views-row {
      width        : 100%;
      margin-right : 0;
    }
  }
}