.owl-carousel.owl-theme {
  .owl-buttons {
    position : absolute;
    top      : 200px;
    width    : 100%;
    > div {
      font-size  : 0 !important;
      width      : 50px;
      height     : 50px;
      background : rgba(255, 255, 255, 0.8);
      &:after {
        display     : block;
        position    : relative;
        font-family : $font-family-icon;
        font-size   : 30px;
        color       : $color-main-2-darker;
      }
      transition : all 0.3s ease 0s;
      &:hover {
        background : $color-main-2-dark;
        &:after {
          color : $color-tertiary-1;
        }
      }
      &.owl-prev {
        position : absolute;
        left     : 0;
        &:after {
          content : "\f053";
          padding : 2px 4px 0 0;
        }
      }
      &.owl-next {
        position : absolute;
        right    : 0;
        &:after {
          content : "\f054";
          padding : 2px 0 0 6px;
        }
      }
    }
  }
  .owl-item {
    .views-field-field-image {
      img {
        margin     : 0 auto;
        width      : auto;
        max-height : 320px;
      }
    }
    .views-field-title {
      a {
        font-size   : 18px;
        font-family : $font-family-main-bold;
        color       : $color-main-2-dark;
        &:hover {
          color : $color-main-2-darker;
        }
      }
      text-align : center;
    }
  }
}